{% extends 'base.html' %}

{% block title %}Reports{% endblock %}
{% block page_title %}Reports{% endblock %}

{% block content %}

<div class="hero">

    <div class="hero-text">

        <span class="hero-badge">
            Reports Center
        </span>

        <h1>
            Business Reports 📄
        </h1>

        <p>
            Download and review your sales performance reports.
        </p>

    </div>

</div>

<div class="cards">

    <div class="card">

        <div class="card-icon blue">
            <i class="fa-solid fa-file-pdf"></i>
        </div>

        <h4>PDF Report</h4>

        <p>Download complete sales report.</p>

        <a href="{{ url_for('download_pdf') }}" class="upload-btn">
         Download PDF
</a>

    </div>

    <div class="card">

        <div class="card-icon green">
            <i class="fa-solid fa-file-excel"></i>
        </div>

        <h4>Excel Report</h4>

        <p>Export dataset in Excel format.</p>

        <a href="{{ url_for('download_excel') }}" class="upload-btn">
         Download Excel
</a>

    </div>

    <div class="card">

        <div class="card-icon orange">
            <i class="fa-solid fa-database"></i>
        </div>

        <h4>Dataset</h4>

        <p>
            Current Dataset:<br>
            <strong>{{ dataset_name }}</strong>
        </p>

    </div>

</div>

{% endblock %}